#dev stuff
*.ts
!*.d.ts
/.github
/config
/coverage
/node_modules
/obj/Debug
.gitignore
.npmignore
.travis.yml
gulpfile.js
karma.conf.js
ng2-config.csproj
ng2-config.csproj.user
npm-debug.log
publishing.txt
tsconfig.json
tslint.json
